<a href="https://colab.research.google.com/github/munmoom/Crawler_collaborate/blob/main/%EC%A1%B0%ED%9A%8C%EC%88%98_%EB%93%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from urllib.request import urlopen
url='https://www.data.go.kr/tcs/dss/selectDataSetList.do?dType=FILE&keyword=%EC%BD%94%EB%A1%9C%EB%82%98&detailKeyword=&publicDataPk=&recmSe=&detailText=&relatedKeyword=&commaNotInData=&commaAndData=&commaOrData=&must_not=&tabId=&dataSetCoreTf=&coreDataNm=&sort=_score&relRadio=&orgFullName=&orgFilter=&org=&orgSearch=&currentPage=1&perPage=10&brm=&instt=&svcType=&kwrdArray=&extsn=&coreDataNmArray=&pblonsipScopeCode='
htmlData=urlopen(url).read()
htmlData=htmlData.decode('utf8')
from bs4 import BeautifulSoup as bs
html=bs(htmlData,'html.parser')
html

In [ ]:
ul = html.select('#fileDataList > div.result-list > ul > li')
ul

In [ ]:
who = []
for item in ul:
  num = item.find_all("span", class_='tit')
  who.append(num)
print(who)

In [ ]:
whole = []
for item in ul:
  num = item.find_all("span", class_='data')
  whole.append(num)
print(whole)

In [ ]:
import re
list=[]
for i in range(10):
  ko = whole[i]
  for a in range(4):
    li = ko[a]
    li = str(li)
    li = re.sub('<.+?>','', li, a).strip()
    list.append(li)
list

In [34]:
for i in range(10):
  k = 2+4*i-1
  date = str(list[k])[0:10]
  del list[k]
  list.insert(k, date)

list

['한국언론진흥재단',
 '2021-08-25',
 '20049',
 '39972',
 '서울특별시 강동구',
 '2020-09-23',
 '2868',
 '765',
 '한국언론진흥재단',
 '2021-03-17',
 '3525',
 '1059',
 '한국언론진흥재단',
 '2021-03-17',
 '11669',
 '4456',
 '부산광역시 수영구',
 '2022-04-26',
 '1275',
 '191',
 '서울특별시 용산구',
 '2022-03-17',
 '248',
 '53',
 '강원도',
 '2022-03-28',
 '4791',
 '1320',
 '서울특별시 용산구',
 '2022-03-17',
 '2462',
 '770',
 '전라북도 고창군',
 '2022-04-01',
 '94',
 '41',
 '충청남도 계룡시',
 '2022-03-24',
 '82',
 '11']

In [ ]:
import pandas as pd